/*
 * Melchor Alejo Garau Madrigal
 */
@import 'vars';

a {
    color: darken($secondary_color, 20);
    transition: color .2s ease-in-out;

    &:hover {
        color: darken($secondary_color, 40);
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6, div, span, p {
    font-family: -apple-system, system-ui, BlinkMacSystem, "Segoe UI", "Noto", "Roboto", "Helvetica Neue", Arial, sans-serif;
    color: $text_color;
}

p.lead {
    color: $description_text_color;
}

body > .container {
    padding-top: 60px;
}

input.form-control {
    background-color: transparent;
    border: none;
    color: $text_color;
    border-bottom: 1px solid $text_color;
    padding: 8px 0 7px 0;
    transition: border-bottom .2s ease-in-out, padding-bottom .2s ease-in-out;
    border-radius: 0;
    box-shadow: none;

    &::-webkit-input-placeholder { color: $description_text_color }
    &::-moz-placeholder { color: $description_text_color }
    &:-ms-input-placeholder { color: $description_text_color }

    &:focus {
        border-bottom: 3px solid $secondary_color;
        padding-bottom: 5px;
        box-shadow: none;
    }

    .has-error &, .has-warning &, .has-success & {
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }
    }
}

textarea.form-control {
    box-shadow: none;
    border-radius: 3px !important;
    border: 1px solid $text_color;
    transition: border .2s ease-in-out, padding .2s ease-in-out;

    &:active, &:focus {
        padding: 5px 11px;
        border: 2px solid $secondary_color;
        box-shadow: none;
    }

    .has-error &, .has-warning &, .has-success & {
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }
    }

    &[disabled], &.disabled {
        background-color: rgba(230, 230, 230, 0.7);
        border-color: rgba(210, 210, 210, 0.8);
        &:active, &:focus {
            padding: 6px 12px;
            border: 1px solid rgba(210, 210, 210, 0.8);
        }
    }
}

.has-warning, .has-warning .control-label, .has-warning .form-control, .has-warning .form-control:focus, .has-warning .input-group-addon {
    color: #c69d55;
    border-color: #c69d55;
}

.has-success, .has-success .control-label, .has-success .form-control, .has-success .form-control:focus, .has-success .input-group-addon {
    color: #5fbc61;
    border-color: #5fbc61;
}

.input-group {
    .input-group-addon {
        color: $description_text_color;
        border-right: 0;
        border: none;
        background: transparent;
        position: relative;
        border-radius: 0;
        padding-right: 16px;
    }
}

.btn {
    border-radius: 2px;
    padding: 9px 16px;
    font-size: 13px;
    border: none;
    background-color: lightgray;

    @media(max-width: 767px) {
        padding: 10px 16px;
        font-size: 14px;
    }

    &.btn-lg {
        font-size: 18px;
    }

    &.btn-raised {
        min-width: 88px;
        min-height: 36px;
        box-shadow: none;
        background-color: white;
        color: $text_color;
        transition: box-shadow .25s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out;

        @media(max-width: 767px) { box-shadow: 0 1px 5px 0 rgba(0,0,0,0.4) }
        &:hover { box-shadow: 0 1px 5px 0 rgba(0,0,0,0.4) }
        &:active { box-shadow: 0 2px 6px 0 rgba(0,0,0,0.42) }

        &.disabled, &[disabled] {
            color: lighten($text_color, 26);
            background-color: darken(white, 12);
            box-shadow: none;
        }
    }

    &.btn-flat {
        min-width: 88px;
        min-height: 36px;
        background-color: transparent;
        color: $text_color;
        box-shadow: none;
        transition: background-color .2s ease-in-out, color .2s ease-in-out;

        &:hover { background-color: rgba(153, 153, 153, 0.2) }
        &:active { background-color: rgba(153, 153, 153, 0.4) }
        &.disabled, &[disabled] { color: rgba($text_color, 0.26) }

        &.btn-dark {
            color: white;
            &:hover { background-color: rgba(204, 204, 204, 0.1) }
            &:active { background-color: rgba(204, 204, 204, 0.25) }
            &.disabled, &[disabled] { color: rgba(white, 0.3) }
        }
    }

    &.btn-primary, &.btn-primary:hover, &.btn-primary:focus, &.btn-primary:active {
        background-color: $primary_color;
        color: white;

        &.btn-raised.disabled, &[disabled] {
            background-color: darken($primary_color, 12);
            color: darken(white, 26);
        }

        &.btn-flat {
            background-color: transparent;
            color: $primary_color;
            &:hover { background-color: rgba($primary_color, 0.12) }
            &:active { background-color: rgba($primary_color, 0.3) }
            &.disabled, &[disabled] { color: rgba($primary_color, 0.26) }
        }
    }

    &.btn-secondary, &.btn-secondary:hover, &.btn-secondary:focus, &.btn-secondary:active {
        background-color: $secondary_color;
        color: $text_color;

        &.btn-raised.disabled, &[disabled] {
            background-color: darken($secondary_color, 12);
            color: lighten($text_color, 26);
        }

        &.btn-flat {
            background-color: transparent;
            color: $secondary_color;
            &:hover { background-color: rgba($secondary_color, 0.12) }
            &:active { background-color: rgba($secondary_color, 0.3) }
            &.disabled, &[disabled] { color: rgba($secondary_color, 0.26) }
        }
    }

    &.btn-sm {
        min-width: 54px;
        min-height: 24px;
        padding: 6px 10px;
    }
}

// https://spin.atomicobject.com/2015/07/14/css-responsive-square/
.img-circle.img-profile {
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}

$alturaFooter: 60px;
$paddingFooter: 30px;
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $alturaFooter + $paddingFooter;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $alturaFooter;

    .text-muted {
        font-size: 12px;
    }
}