@import 'vars';

html, body {
    height: 100%;
    position: relative;
}

a {
    color: $secondary_color;
    transition: color .2s ease-in-out;

    &:hover {
        color: darken($secondary_color, 20);
    }
}

h1, h2, h3, h4, h5, h6, div, span, p {
    font-family: -apple-system, system-ui, BlinkMacSystem, "Segoe UI", "Noto", "Roboto", "Helvetica Neue", Arial, sans-serif;
    color: $text_color;
}

p.lead {
    color: $description_text_color;
}

body > .container {
    margin-top: 50px;
}

input.form-control {
    background-color: transparent;
    border: none;
    color: $text_color;
    border-bottom: 1px solid $text_color;
    padding-bottom: 5px;
    transition: border-bottom .2s ease-in-out, padding-bottom .2s ease-in-out;
    border-radius: 0;
    box-shadow: none;

    &::-webkit-input-placeholder { color: $description_text_color }
    &::-moz-placeholder { color: $description_text_color }
    &:-ms-input-placeholder { color: $description_text_color }

    &:focus {
        border-bottom: 3px solid $secondary_color;
        padding-bottom: 3px;
        box-shadow: none;
    }
}