.navbar {
    margin-bottom: 0;
}

.full-height {
    min-height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    & ::selection {
        background-color: transparent;
    }
}

.jumbotron {
    margin-bottom: 0;
    margin-top: -51px;

    @media(min-width: 768px) {
        padding-top: 101px;
    }
}

body > .container.main-page {
    background-color: white;
    margin-top: 30px;
    padding-bottom: 20px;
}