/*
 * Melchor Alejo Garau Madrigal
 */
@import 'vars';

.navbar {
    background-color: $primary_color;
    border: none;

    .navbar-header {
        .navbar-brand {
            color: white;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 500;
            cursor: default;
        }

        a.navbar-brand {
            color: white;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                color: darken(white, 15);
            }
        }

        .icon-bar {
            background: white;
        }

        @media(max-width: 767px) {
            .navbar-nav li {
                float: left;
            }
        }
    }

    a {
        color: $secondary_color;

        &:hover {
            color: darken($secondary_color, 5);
        }
    }

    .navbar-form {
        box-shadow: none;
        -webkit-box-shadow: none;

        button, input[type="submit"] {
            padding: 6px 12px !important;
            min-height: 34px !important;

            @media(max-width: 767px) {
                width: 100%
            }

            &#buscar {
                padding: 8px 12px;
                background-color: transparent;
                color: white;
                left: -26px;
                z-index: 10;
            }
        }

        input {
            color: white;
            border-bottom-color: #ddd;

            &:focus {
                box-shadow: none;
                border-bottom-color: $secondary_color;
            }

            $color: #ddd;
            &::-webkit-input-placeholder { color: $color }
            &::-moz-placeholder { color: $color }
            &:-ms-input-placeholder { color: $color }
        }

        .input-group {
            margin-right: -36px;
        }
    }

    .navbar-nav {
        @media(max-width: 767px) {
            margin-bottom: 0;
        }

        li {
            color: white;
            border-bottom: 0 solid $secondary_color;
            transition: border .25s ease-in-out;

            a {
                color: white;
                transition: padding-bottom .25s ease-in-out, color .25s ease-in-out;
                span {
                    color: white;
                    transition: color .25s ease-in-out;
                }

                @media(max-width: 767px) {
                    padding-bottom: 7px;
                    padding-top: 7px;
                }
            }

            form {
                height: 50px;
                transition: height .25s ease-in-out;
            }
            form > a {
                padding: 15px 10px;
                position: relative;
                top: 15px
            }

            &:hover, &.active {
                border-bottom: 5px solid $secondary_color;
                a, a:hover, form > a {
                    padding-bottom: 10px;
                    color: $secondary_color;
                    span { color: $secondary_color }
                    background-color: transparent;
                }

                form {
                    height: 45px;
                }

                @media(max-width: 767px) {
                    border-bottom: 0 solid;
                    a, a:hover {
                        padding-bottom: 7px;
                        padding-top: 7px;
                    }
                }
            }

            &.notificaciones > a {
                .badge, &:hover .badge {
                    position: relative;
                    bottom: 8px;
                    font-size: 8px;
                    padding: 2px 4px;
                    left: -8px;
                    background-color: $accent_color;
                    color: #444;

                    &:hover { color: #444 }
                }

                span:nth-child(3) {
                    position: relative;
                    right: 10px;
                }
            }
        }
    }
}
